<div id="order">
  <%= link_to t('back_to_store'), products_path %> 

  <table class="order-summary" width="545">
    <tbody>
      <tr>
        <td><%= t('subscription_number') %></td>
        <td><%= @subscription.id %></td>
      </tr>
      <tr>
        <td><%= t('status') %></td>
        <td><%= t(@subscription.state).titleize %></td>
      </tr>
      <tr>
        <td><%= t('interval') %></td>        
        <td><%= @subscription.duration %> <%= @subscription.interval %></td>
      </tr>
      <tr>
        <td><%= t('created_at') %></td>        
        <td><%= @subscription.created_at.nil? ? "-" : @subscription.created_at.to_date %></td>
      </tr>
      <tr>
        <td><%= t('next_payment_at') %></td>        
        <td><%= ( @subscription.next_payment_at.nil? || @subscription.state == 'canceled' ) ? "-" : @subscription.next_payment_at.to_date %></td>
      </tr>
      <tr>
        <td><%= t('creditcard') %></td>        
        <td><%= @subscription.creditcard.nil? ? "-" : 'XXXX-XXXX-XXXX-' + @subscription.creditcard.last_digits %></td>
      </tr>
      <tr>
        <td><%= t('total') %></td>        
        <td><%= number_to_currency @subscription.price %></td>
      </tr>
      </tr>
    </tbody>
  </table>
  <br />
  <div class='toolbar order-links'>
    <% if @subscription.state != 'canceled' %>
      <%= link_to "Update Credit Card", edit_subscription_creditcard_url(@subscription, @subscription.creditcard) if @subscription.creditcard %> |
      <%= link_to "Cancel Subscription", subscription_cancel_path(@subscription), :method => :put, :confirm => 'Are You Sure?' %>
    <% end %>
  </div>
  <br/>
  <%= link_to t('back_to_store'), products_path %>
</div>
